<!-- Featured Cover -->
<section class="bg-primary-3 text-light text-center has-divider header-desktop-app" style="padding-top: 4rem;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-8 col-md-9">
        <h1 class="display-3">
          <span class="typed"></span>
        </h1>
        <p class="lead">Exordium is an upcoming virtual private networking software, whose main focus is around providing our customers with privacy and security while browsing the internet, and doing what we can to assist with the environmental crisis.</p>
        <div class="d-flex flex-column flex-sm-row justify-content-center mt-4">
          <a href="/pricing" class="btn btn-lg btn-primary mx-2 mb-2 mb-sm-0" routerLink="/pricing">
            Pricing
          </a>
          <a href="/company/about-us" class="btn btn-lg btn-outline-primary mx-2" routerLink="/company/about-us">
            Our Purpose
          </a>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-6" data-aos="fade-up" data-delay="100">
      <div class="col-lg-10">
        <img src="assets/img/exordium/desktop/screenshot-0.5.9.png" alt="Image" class="rounded shadow-lg">
      </div>
    </div>
  </div>
  <div class="divider">
    <div [inlineSVG]="'assets/img/dividers/divider-2.svg'"></div> 
  </div>
</section>
  
<!-- Why Exordium? -->
<section>
  <div class="container">

    <div class="row mb-4 text-center">
      <div class="col">
        <h2 class="h1">Why Exordium?</h2>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">

        <div class="icon-round bg-primary mx-auto mb-4">
          <i class="fad fa-2x fa-shield-alt"></i>
        </div>

        <h4>Military Grade Encryption</h4>
        
        <p class="lead mx-xl-3">
          Your connection to our servers is fully encrypted with <strong>AES-256</strong> by default.
        </p>

      </div>
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
        
        <div class="icon-round bg-primary mx-auto mb-4">
          <i class="fad fa-2x fa-user-secret"></i>
        </div>
    
        <h4>Stay Anonymous</h4>
        
        <p class="lead mx-xl-3">
          When connected to our VPN your public IP Address will be hidden from all websites and servers you connect to. 
        </p>

    </div>
    <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">

      <div class="icon-round bg-primary mx-auto mb-4">
        <i class="fad fa-2x fa-eye-slash"></i>
      </div>

      <h4>Not Traffic Logging</h4>

      <p class="lead mx-xl-3">Feel safe and protected browsing on our VPN. We don't save any logs of your traffic!</p>

    </div>
    </div>
  </div>
</section>
  
<!-- Screenshots -->
<section class="has-divider bg-primary-2-alt">
  <div class="divider flip-y">
    <div [inlineSVG]="'assets/img/dividers/divider-2.svg'"></div> 
  </div>
  <div class="container pt-3 pb-0">
    <div class="row justify-content-center text-center mb-6">
      <div class="col-xl-8 col-lg-9">
        <h2 class="display-4 mx-xl-6">Built from the ground up.</h2>
        <p class="lead">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 mb-4 mb-md-0">
        <ul class="nav flex-column" role="tablist">
          <li class="nav-item">
            <a class="nav-link btn btn-light p-2 text-left active" href="#app-tab-1" data-toggle="tab" aria-controls="app-tab-1" aria-selected="true" role="tab">
              <i class="fa fa-fw fa-map text-primary"></i> World Map
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-light p-2 text-left" href="#app-tab-2" data-toggle="tab" aria-controls="app-tab-2" aria-selected="true" role="tab">
              <i class="fa fa-fw fa-map text-primary"></i> Server Listing
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-light p-2 text-left" href="#app-tab-3" data-toggle="tab" aria-controls="app-tab-3" aria-selected="false" role="tab">
              <i class="fa fa-fw fa-adjust text-primary"></i> Theming
            </a>
          </li>
        </ul>
      </div>
      <div class="col mb-lg-n7 layer-2">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="app-tab-1" role="tabpanel" aria-labelledby="app-tab-1">
            <div class="popover-image">
              <div class="popover-hotspot bg-primary-2" style="top: 49%; left: 51%;" data-toggle="popover" title="Location" data-content="Our VPN map shows your current location, and displays what servers you are connected to. "></div>
              <div class="popover-hotspot bg-primary-2" style="top: 85%; left: 60%;" data-toggle="popover" title="Usage Graphs" data-content="Our Map graph shows your network usage realtime. "></div>
              <div class="popover-hotspot bg-primary-2" style="top: 85%; left: 15%;" data-toggle="popover" title="Traffic Usage" data-content="Traffic Usage shows what you have been downloading and uploading since you've been connected."></div>
              <img src="assets/img/exordium/desktop/exordium-monitoring.png" alt="Image" class="rounded shadow-lg">
            </div>
          </div>
          <div class="tab-pane fade" id="app-tab-2" role="tabpanel" aria-labelledby="app-tab-2">
            <div class="popover-image">
              <div class="popover-hotspot bg-primary-2" style="top: 25%; left: 10%;" data-toggle="popover" title="Hotspot title" data-content="And here's some amazing content. It's very engaging. Right?"></div>
              <div class="popover-hotspot bg-primary-2" style="top: 10%; left: 90%;" data-toggle="popover" title="Hotspot title" data-content="And here's some amazing content. It's very engaging. Right?"></div>
              <div class="popover-hotspot bg-primary-2" style="top: 90%; left: 20%;" data-toggle="popover" title="Hotspot title" data-content="And here's some more amazing content. It's very engaging. Right?"></div>
              <img src="assets/img/exordium/desktop/exordium-monitoring.png" alt="Image" class="rounded shadow-lg">
            </div>
          </div>
          <div class="tab-pane fade" id="app-tab-3" role="tabpanel" aria-labelledby="app-tab-3">
            <div class="popover-image">
              <div class="popover-hotspot bg-primary-2" style="top: 25%; left: 10%;" data-toggle="popover" title="Hotspot title" data-content="And here's some amazing content. It's very engaging. Right?"></div>
              <div class="popover-hotspot bg-primary-2" style="top: 10%; left: 90%;" data-toggle="popover" title="Hotspot title" data-content="And here's some amazing content. It's very engaging. Right?"></div>
              <div class="popover-hotspot bg-primary-2" style="top: 90%; left: 20%;" data-toggle="popover" title="Hotspot title" data-content="And here's some more amazing content. It's very engaging. Right?"></div>
              <img src="assets/img/exordium/desktop/exordium-monitoring.png" alt="Image" class="rounded shadow-lg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider flip-x">
    <img src="assets/img/dividers/divider-3.svg" alt="graphical divider" data-inject-svg />
    <div [inlineSVG]="'assets/img/dividers/divider-3.svg'"></div> 
  </div>
</section>
  
<!-- Objectives -->
<section>
  <div class="container">
    <div class="row align-items-center justify-content-around o-hidden">
      <div class="col-md-6 col-lg-5 mb-4 mb-md-0" data-aos="fade-right">
        <img src="assets/img/exordium/welcome/streaming.png" alt="Image" class="rounded shadow">
      </div>
      <div class="col-lg-5 col-md-6" data-aos="fade-left">
        <h3 class="h2">Internet without the restrictions</h3>
        <p class="lead">Do you travel for business or live abroad studying and working? With Exordium you can bypass many websites proxy checkers and gain acess to all your favourite streaming websites and entertainment.</p>
        <a href="resources/reasons-for-a-vpn" class="lead hover-arrow">Learn more</a>
      </div>
    </div>
  </div>
</section>
<section class="pt-0">
  <div class="container">
    <div class="row align-items-center justify-content-around flex-row-reverse o-hidden">
      <div class="col-md-6 col-lg-5 mb-4 mb-md-0" data-aos="fade-left">
        <img src="assets/img/exordium/welcome/devices.png" alt="Image" class="rounded shadow">
      </div>
      <div class="col-lg-5 col-md-6" data-aos="fade-right">
        <h3 class="h2">Feel safe on every device</h3>
        <p class="lead">Securely connect six different devices to the Exordium network and know you're safe on every device within your home.</p>
        <a href="blog/browsing-anonymously" class="lead hover-arrow">Learn more</a>
      </div>
    </div>
  </div>
</section>
<section class="pt-0">
  <div class="container">
    <div class="row align-items-center justify-content-around o-hidden">
      <div class="col-md-6 col-lg-5 mb-4 mb-md-0" data-aos="fade-right">
        <img src="assets/img/exordium/welcome/trees.png" alt="Image" class="rounded shadow">
      </div>
      <div class="col-lg-5 col-md-6" data-aos="fade-left">
        <h3 class="h2">Towards a good cause</h3>
        <p class="lead">Our main focus is to provide a good service for our customers with privacy and security, however, we care a lot about the natural environment and want to play our part with assisting ecological preservation and the fight against climate change.</p>
        <a href="blog/why-exordium" class="lead hover-arrow">Learn more</a>
      </div>
    </div>
  </div>
</section>