<section class="bg-dark text-light header-inner p-0 jarallax position-relative" data-jarallax data-speed="0.2" data-overlay>
    <img src="assets/img/exordium/backgrounds/mountain1.jpg" alt="Image" class="jarallax-img opacity-20">
    <div class="container py-0 pt-7">
      <div class="row my-3">
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/welcome">Exordium</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">About Us</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row my-4 my-md-6" data-aos="fade-up">
        <div class="col-lg-9 col-xl-8">
          <h1 class="display-4">About Us</h1>
          <p class="lead mb-0">A virtual private networking software in the works.</p>
        </div>
      </div>
    </div>
    <div class="divider">
      <div [inlineSVG]="'assets/img/dividers/divider-3.svg'"></div> 
    </div>
</section>

<!-- Our Mission -->
<section>
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="row align-items-center justify-content-around">
      <div class="col-md-5 col-xl-6 mb-4 mb-md-0">
        <img src="assets/img/exordium/about/trees.jpg" alt="Image" class="rounded shadow-3d">
      </div>
      <div class="col-md-7 col-xl-6">
        <div class="row justify-content-center">
          <div class="col-xl-8 col-lg-10">
            <span class="badge badge-primary">Our Mission</span>
            <div class="my-3">
              <span class="h1">Change the game through purpose.</span>
            </div>
            <p class="lead">
              Exordium is an upcoming virtual private networking software, whose main focus is around providing our customers with privacy and security while browsing the internet, and doing what we can to assist with environmental protection, and the fight against the climate crisis.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- How We Started -->
<section class="bg-primary-alt">
  <div class="container">

    <div class="row mb-4">
      <div class="col">

        <h2 class="h1">How We Started</h2>
        <p class="lead">
          In December 2018, "Gannicus" the founder of the Exordium Project, wanted to combine his technological knowledge with his love for the natural environment.
        </p>
        <p class="lead">
          While the virtual private network is a form of protection for people all around the world who are experiencing censorship, content control, intrusive government surveillance, and hackers, it is also a form of making some good through technology. 
          Exordium's mission is to provide an awesome service for its customers, and do what it can to give profits made towards environmental protections and the fight against climate change.
        </p>

      </div>
    </div>

  </div>
</section>

<!-- Other Pages (Mobile only) -->
<section class="aboutNav d-xs-block d-lg-none">
    <div class="dropdown-tab about-dark text-light">

      <div class="container py-4 aos-init aos-animate" data-dropdown-content data-aos="fade-up">
          
          <div class="row justify-content-center mb-5">
              <div class="col-md-12">
                <div class="mb-5">
                  <h2 class="h1">Related Pages</h2>
                  <p class="lead">
                    If you are curious on learning more about virtual private networks, their purpose, how they work and other information about Exordium. Feel free to check out the following links and resources.
                  </p>
                </div>
              </div>
            </div>
          
          <app-navbar-about></app-navbar-about>
      </div>

    </div>
</section>