<!-- Cover -->
<section class="bg-dark text-light header-inner p-0 jarallax position-relative" data-jarallax data-speed="0.2" data-overlay>
    <img src="assets/img/exordium/backgrounds/mountain1.jpg" alt="Image" class="jarallax-img opacity-20">
    <div class="container py-0 pt-7">
      <div class="row my-3">
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/welcome">Exordium</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Pricing</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row my-4 my-md-6" data-aos="fade-up">
        <div class="col-lg-9 col-xl-8">
          <h1 class="display-4">Pricing</h1>
          <p class="lead mb-0">Here's our current plans for our service!</p>
        </div>
      </div>
    </div>
    <div class="divider">
      <div [inlineSVG]="'assets/img/dividers/divider-3.svg'"></div> 
    </div>
</section>

<!-- Pricing Table -->
<section>
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="NaN">
          <div class="card card-body align-items-center shadow-sm">
            <div class="pt-md-2">
              <h4>Oak</h4>
            </div>
            <div class="d-flex align-items-start pb-md-2">
              <span class="h3">$</span>
              <span class="display-4 mb-0">10</span>
            </div>
            <span class="text-small text-muted">Per 1 month</span>
            <ul class="text-center list-unstyled my-2 my-md-4">
                <li class="py-1">
                    <span class="badge badge-danger">no discount</span>
                </li>
                <li class="py-1">
                    <span>All server access</span>
                </li>
                <li class="py-1">
                    <span>No logs policy</span>
                </li>
                <li class="py-1">
                    <span>5 connections at same time</span>
                </li>
                <li class="py-1">
                    <span>24/7 Support</span>
                </li>
            </ul>
            <a href="https://clients.exordium.org/" class="btn btn-outline-danger">
                Get Oak Subscription
            </a>
          </div>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="NaN">
            <div class="card card-body align-items-center shadow-sm">
                <div class="pt-md-2">
                    <h4>Pine</h4>
                </div>
                <div class="d-flex align-items-start pb-md-2">
                    <span class="h3">$</span>
                    <span class="display-4 mb-0">51</span>
                </div>
                <span class="text-small text-muted">Per 6 months</span>
                <ul class="text-center list-unstyled my-2 my-md-4">
                    <li class="py-1">
                        <span class="badge badge-info">save 15%</span>
                    </li>
                    <li class="py-1">
                        <span>All server access</span>
                    </li>
                    <li class="py-1">
                        <span>No logs policy</span>
                    </li>
                    <li class="py-1">
                        <span>5 connections at same time</span>
                    </li>
                    <li class="py-1">
                        <span>24/7 Support</span>
                    </li>
                </ul>
                <a href="https://clients.exordium.org/" class="btn btn-outline-info">
                     Get Pine Subscription
                </a>
            </div>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="NaN">
          <div class="card card-body align-items-center shadow-lg">
            <span class="badge badge-top badge-primary">Best Deal</span>
            <div class="pt-md-2">
              <h4>Cedar</h4>
            </div>
            <div class="d-flex align-items-start pb-md-2">
              <span class="h3">$</span>
              <span class="display-4 mb-0">90</span>
            </div>
            <span class="text-small text-muted">Per 12 months</span>
            <ul class="text-center list-unstyled my-2 my-md-4">
                <li class="py-1">
                    <span class="badge badge-primary">save 25%</span>
                </li>
                <li class="py-1">
                    <span>All server access</span>
                </li>
                <li class="py-1">
                    <span>No logs policy</span>
                </li>
                <li class="py-1">
                    <span>5 connections at same time</span>
                </li>
                <li class="py-1">
                    <span>24/7 Support</span>
                </li>
            </ul>
            <a href="https://clients.exordium.org/" class="btn btn-primary">
                Get Cedar Subscription
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <span>Interested in a custom plan? <a href="#">Get in touch</a>
          </span>
        </div>
      </div>
    </div>

</section>

<section class="p-0">
    <div class="container mb-lg-n7 position-relative">
      <div class="row">
        <div class="col-md-4 d-flex" data-aos="fade-up" data-aos-delay="NaN">
          <div class="card card-body shadow-sm">
            <div class="d-flex mb-3">
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
            </div>
            <div class="my-md-2 flex-grow-1">
                <h4>
                    &ldquo;I couldn’t have done it without the team from Leap.&rdquo;
                </h4>
            </div>
            <div class="avatar-author align-items-center">
              <img src="assets/img/avatars/male-1.jpg" alt="Avatar" class="avatar">
              <div class="ml-2">
                <h6>Benjamin Cameron</h6>
                <span>Designer</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex" data-aos="fade-up" data-aos-delay="NaN">
          <div class="card card-body shadow-sm">
            <div class="d-flex mb-3">
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
            </div>
            <div class="my-md-2 flex-grow-1">
                <h4>
                    &ldquo;Finally, a template that covers all bases for a bootstrapped startup.&rdquo;
                </h4>
            </div>
            <div class="avatar-author align-items-center">
              <img src="assets/img/avatars/male-4.jpg" alt="Avatar" class="avatar">
              <div class="ml-2">
                <h6>Marco Origez</h6>
                <span>Developer</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex" data-aos="fade-up" data-aos-delay="NaN">
          <div class="card card-body shadow-sm">
            <div class="d-flex mb-3">
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
            </div>
            <div class="my-md-2 flex-grow-1">
                <h4>
                    &ldquo;I fell in love with the design immediately.&rdquo;
                </h4>
            </div>
            <div class="avatar-author align-items-center">
              <img src="assets/img/avatars/female-4.jpg" alt="Avatar" class="avatar">
              <div class="ml-2">
                <h6>Helen Shultz</h6>
                <span>Business Owner</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider">
        <div [inlineSVG]="'assets/img/dividers/divider-1.svg'" [setSVGAttributes]=" { class: 'bg-primary-alt' } "></div>
    </div>
  </section>

<!-- Frequently asked questions -->
<section class="bg-primary-alt">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-9">
          <h3 class="h2">Frequently Asked Questions</h3>
          <div class="my-4">
            <div class="card mb-2 card-sm card-body hover-shadow-sm" data-aos="fade-up" data-aos-delay="NaN">
              <div data-target="#panel-1" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                <span class="h6 mb-0">Can I change plans later on?</span>
                <img class="icon" src="assets/img/icons/interface/plus.svg" alt="plus interface icon" data-inject-svg />
              </div>
              <div class="collapse" id="panel-1">
                <div class="pt-3">
                  <p class="mb-0">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                  </p>
                </div>
              </div>
            </div>
            <div class="card mb-2 card-sm card-body hover-shadow-sm" data-aos="fade-up" data-aos-delay="NaN">
              <div data-target="#panel-2" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-2">
                <span class="h6 mb-0">What is the difference between Pro and Ultimate?</span>
                <img class="icon" src="assets/img/icons/interface/plus.svg" alt="plus interface icon" data-inject-svg />
              </div>
              <div class="collapse" id="panel-2">
                <div class="pt-3">
                  <p class="mb-0">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                  </p>
                </div>
              </div>
            </div>
            <div class="card mb-2 card-sm card-body hover-shadow-sm" data-aos="fade-up" data-aos-delay="NaN">
              <div data-target="#panel-3" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-3">
                <span class="h6 mb-0">Can I try before I buy?</span>
                <img class="icon" src="assets/img/icons/interface/plus.svg" alt="plus interface icon" data-inject-svg />
              </div>
              <div class="collapse" id="panel-3">
                <div class="pt-3">
                  <p class="mb-0">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                  </p>
                </div>
              </div>
            </div>
            <div class="card mb-2 card-sm card-body hover-shadow-sm" data-aos="fade-up" data-aos-delay="NaN">
              <div data-target="#panel-4" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-4">
                <span class="h6 mb-0">Do you offer bulk discounts?</span>
                <img class="icon" src="assets/img/icons/interface/plus.svg" alt="plus interface icon" data-inject-svg />
              </div>
              <div class="collapse" id="panel-4">
                <div class="pt-3">
                  <p class="mb-0">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                  </p>
                </div>
              </div>
            </div>
            <div class="card mb-2 card-sm card-body hover-shadow-sm" data-aos="fade-up" data-aos-delay="NaN">
              <div data-target="#panel-5" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-5">
                <span class="h6 mb-0">Is this a subscription service?</span>
                <img class="icon" src="assets/img/icons/interface/plus.svg" alt="plus interface icon" data-inject-svg />
              </div>
              <div class="collapse" id="panel-5">
                <div class="pt-3">
                  <p class="mb-0">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <span>Still have questions? <a href="#">Get in touch</a>
          </span>
        </div>
      </div>
    </div>
  </section>