<!-- Cover -->
<section class="bg-dark text-light text-center header-inner p-0 jarallax position-relative" data-jarallax data-speed="0.2" data-overlay>
    <img src="assets/img/exordium/backgrounds/mountain2.jpg" alt="Image" class="jarallax-img opacity-20">
    <div class="container py-0 pt-7">
      <div class="row justify-content-center my-4 my-md-6" data-aos="fade-up">
        <div class="col-lg-9 col-xl-8">
          <h1 class="display-4">Download</h1>
          <p class="lead mb-0">A virtual private networking software in the works</p>
        </div>
      </div>
    </div>
    <div class="divider">
      <div [inlineSVG]="'assets/img/dividers/divider-2.svg'" [setSVGAttributes]="{ class: 'bg-primary-alt' }"></div> 
    </div>
</section>

<!-- Main -->
<section class="bg-primary-2-alt">
    <div class="container">


        <div class="row justify-content-center mb-6">
            <div class="col-md-8 text-center">

                <p class="text-muted">What download would you like?</p>

                <ul class="nav justify-content-center" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="windows-tab" data-toggle="tab" href="#windows" role="tab" aria-controls="windows" aria-selected="true">
                            <i class="fab fa-fw fa-windows"></i>
                            Windows
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="mac-tab" data-toggle="tab" href="#mac" role="tab" aria-controls="mac" aria-selected="false">
                            <i class="fab fa-fw fa-apple"></i>
                            Apple Mac
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="linux-tab" data-toggle="tab" href="#linux" role="tab" aria-controls="linux" aria-selected="false">
                            <i class="fab fa-fw fa-linux"></i>
                            Linux
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="mobile-tab" data-toggle="tab" href="#mobile" role="tab" aria-controls="mobile" aria-selected="false">
                            <i class="fas fa-fw fa-mobile"></i>
                            Mobile
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="windows" role="tabpanel" aria-labelledby="windows-tab">
                <div class="row align-items-center justify-content-around">
                    <div class="col-md-5 col-xl-6 mb-4 mb-md-0">
                        <img src="https://github.com/exordium-dev/exordium-desktop/blob/master/screenshots/screenshot-0.5.9.png?raw=true" alt="Image" class="rounded shadow-3d">
                    </div>
                    <div class="col-md-7 col-xl-6">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-10">
                                <span class="badge badge-primary">
                                    <i class="fab fa-fw fa-windows"></i>
                                    Windows    
                                </span>
                                <div class="my-3">
                                    <span class="h1">Change the game through purpose.</span>
                                </div>
                                <p class="lead">
                                    Exordium is an upcoming virtual private networking software, whose main focus is around providing our customers with privacy and security while browsing the internet, and doing what we can to assist with environmental protection, and the fight against the climate crisis.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="mac" role="tabpanel" aria-labelledby="mac-tab">

            </div>
            <div class="tab-pane fade" id="linux" role="tabpanel" aria-labelledby="linux-tab">

            </div>
            <div class="tab-pane fade" id="mobile" role="tabpanel" aria-labelledby="mobile-tab">

            </div>
          </div>

    </div>
</section>
