<section class="bg-dark text-light overlay min-vh-100 d-flex flex-column justify-content-end jarallax">
    <img src="assets/img/exordium/backgrounds/mountain1.jpg" alt="Image" class="jarallax-img opacity-50">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">

                <div class="d-flex align-items-center">
                    <div class="display-4 mr-3" style="margin-bottom: auto;">
                        <i class="fad fa-exclamation-square"></i>
                    </div>
                    <div>
                        <h1 style="margin-top: .4rem;">Page Not Found</h1>
                        <p class="lead">It's not your fault, but we couldn't find the page you were looking for. Maybe it's time to go back home?</p>

                        <p class="mt-5">
                            <a href="/" class="btn btn-primary">Return back home!</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>